.scrollable {
    height: 80vh;
    overflow-y: scroll;
}

.usableOn {
    opacity: 1;
    pointer-events: auto;
}

.usableOff {
    opacity: 0.3;
    pointer-events: none;
}

.visibleOff {
    visibility: hidden;
}

.visibleOn {
    visibility: visible;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

html, body {
    height: 100vh;
}

header {
    height: 6vh;
}

.publicidad {
    height: 15vh;
}

.cuerpoindex {
    height: 75vh;
}

footer {
    height: 4vh;
}