html, body {
    height: 100vh;
}

footer {
    height: 4vh;
}

.image-upload>input {
    display: none;
}

.card-curso {
    height: 350px;
}

.card-curso img{
    height: 150px;
}

#swiper-banner {
    width: 100%;
    height: 300px;
}

#swiper-banner img {
    width: 100%;
    height: 200px;
}

.navbar-brand img {
    height: 30px;
}

@media (min-width: 768px) {
    #swiper-banner img {
        width: 100%;
        height: 300px;
    }        

    .navbar-brand img {
        height: 40px;
    }
}
